<ul class="navigation">
<% if params[:action] == "index" %>
  <li class="selected">在庫</li>
<% else %>
  <li><%= link_to "在庫", [@cagtegory, :books] %></li>
<% end %>
<% if params[:action] == "checked_out" %>
  <li class="selected">貸し出し中</li>
<% else %>
  <li><%= link_to "貸し出し中", [:checked_out, @category, :books] %></li>
<% end %>
</ul>
