<h1>My Book List</h1>
<table class="books">
  <col class="title"/>
  <col class="authers"/>
  <col class="publish_year"/>
  <th>Title</th>
  <th>Authers</th>
  <th>Publish Year</th>
  <% @books.each do |book| %>
  <tr>
    <td><%= link_to book.title, book %></td>
    <td><%= book.authers %></td>
    <td><%= book.publish_year %></td>
  </tr>
  <% end %>
</table>
