<h1>本の詳細</h1>
<div id="book">
  <p><span>Title:</span><span><%= @book.title %></span></p>
  <p><span>Auther(s):</span><span><%= @book.authers %></span></p>
  <p><span>Publish Year:</span><span><%= @book.publish_year %></span></p>
  <p><span>Comment:</span><span><%= @book.comment %></span></p>
</div>
