table.books {
    width: 80%;
    margin: 10px auto;
    background-color: #FFF;
    border-collapse: collapse;
    border-spacing: 0;
}
table.books th {
    background-color: #CEA33A;
}
table.books tr {
    border: solid 1px #ccc;
}
table.books td {
    padding: 5px;
}
table.books col.name {
    width:400px;
}
table.books col.publish_year {
    width:180px;
}